<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.melkir.facetracker">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name" />

</manifest>
