<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.melkir.materialdesigncodelab">

    <application android:allowBackup="true">
        <activity
            android:name=".MaterialDesignActivity"
            android:label="Material Design Codelab"
            android:theme="@style/MaterialAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".MaterialDesignActivity"
            android:theme="@style/MaterialAppTheme.Base">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MaterialDesignActivity" />
        </activity>
    </application>

</manifest>