<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.melkir.vision.googlyeyes">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".GooglyEyesActivity"
            android:label="Googly Eyes"
            android:screenOrientation="fullSensor"
            android:theme="@style/GooglyEyesTheme" />
    </application>

</manifest>
