<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.melkir.googlesamplesdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- main activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- child of the main activity for barcode reader -->
        <activity
            android:name=".vision.BarcodeReaderActivity"
            android:label="Barcode reader"
            android:parentActivityName=".MainActivity" />

        <!-- child of the main activity for face tracker -->
        <activity
            android:name=".vision.FaceTrackerActivity"
            android:label="Face Tracker"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="fullSensor" />

        <!-- child of the main activity for googly eyes -->
        <activity
            android:name=".vision.GooglyEyesActivity"
            android:label="Googly Eyes"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="fullSensor" />

        <!-- child of the main activity for accelerometer play -->
        <activity
            android:name="com.melkir.accelerometerplay.AccelerometerPlayActivity"
            android:label="Accelerometer Play"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>